@charset "UTF-8";

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
  vertical-align: baseline;
  color: #000;
  box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
  font-family: 'notokr';
  font-size: 14px;
  line-height: 1;
  font-weight: 400;
}
a {
  text-decoration: none;
  color: #000;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
/* font */

@font-face {font-family:'notokr'; font-weight:700; font-style:normal; src:url('../font/notokr-bold.eot'); src:url('../font/notokr-bold.eot?#iefix') format('embedded-opentype'),
    url('../font/notokr-bold.woff2') format('woff2'),
    url('../font/notokr-bold.woff') format('woff'),
    url('../font/notokr-bold.ttf') format('truetype'),
    url('../font/notokr-bold.svg#notokr-medium') format('svg');}

@font-face {font-family:'notokr'; font-weight:500; font-style:normal; src:url('../font/notokr-medium.eot'); src:url('../font/notokr-medium.eot?#iefix') format('embedded-opentype'),
    url('../font/notokr-medium.woff2') format('woff2'),
    url('../font/notokr-medium.woff') format('woff'),
    url('../font/notokr-medium.ttf') format('truetype'),
    url('../font/notokr-medium.svg#notokr-medium') format('svg');}

@font-face {font-family:'notokr'; font-weight:400; font-style:normal; src:url('../font/notokr-regular.eot'); src:url('../font/notokr-regular.eot?#iefix') format('embedded-opentype'),
    url('../font/notokr-regular.woff2') format('woff2'),
    url('../font/notokr-regular.woff') format('woff'),
    url('../font/notokr-regular.ttf') format('truetype'),
    url('../font/notokr-regular.svg#notokr-regular') format('svg');}
    





.wrap {min-width:1530px;}
.layout-width {width:1530px;margin:0 auto;}
.layout-full {width:100%;}
h2 {font-weight: 700;font-size: 18px;}



/* header */
#header {
  position: relative;
  background: #fff;
  z-index: 20;
}
.header_top {
  overflow: hidden;
  height: 70px;
  padding: 0 195px;
  border-bottom: 1px solid #e7e7e7;
}
.header_top .logo {
  float: left;
  margin-top: 16px;
}
.header_top .menu_list {
  overflow: hidden;
  float: right;
  margin-top: 28px;
}
.header_top .menu_list > li {
  position: relative;
  float: left;
  padding: 0 10px;
}
.header_top .menu_list > li:after {
  content: '';
  position: absolute;
  right: 0; top: 5%;
  width: 1px; height: 90%;
  background: #bbb;
}
.header_top .menu_list > li:first-child {
  padding-left: 0;
}
.header_top .menu_list > li:last-child {
  padding-right: 0;
}

.gnb_wrap {
  position: relative;
  height: 57px;
  padding: 0 195px;
  background: #03a2ea;
}
.gnb_wrap .company_gnb {
  position: absolute;
  left: 195px; top: 0;
  background: #fff;
  width: 130px; height: 100%;
  transition: width .4s linear;
  z-index: 10;
}
.company_gnb .btn_gnbtoggle {
  position: absolute;
  right: 20px; top: 50%;
  transform: translateY(-50%);
  font-weight: bold;
  color: #03a2ea;
  z-index: 10;
}
.company_gnb .btn_gnbtoggle::after {
  content: '';
  display: inline-block;
  width: 8px; height: 14px;
  margin-left: 30px;
  background: url('../images/mall/arr-right-blue.jpg') no-repeat center;
}
.company_gnb .gnb_links {
  display: inline-block;
  position: relative;
  left: 50%; top: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  visibility: hidden;
  transition: opacity .3s;
}
.company_gnb .gnb_links::after {
  content: '';
  display: table;
  clear: both;
}
.company_gnb .gnb_links > li {
  float: left;
  margin-left: 50px;
}
.company_gnb .gnb_links > li:first-child {
  margin-left: 0;
}
.company_gnb .gnb_links > li > a {
  font-size: 16px;
  font-weight: bold;
  color: #000;
}
.company_gnb .gnb_links > li > a:hover {
  color: #03a2ea;
}
.gnb_wrap .company_gnb.active {
  width: calc(100% - 390px);
}
.gnb_wrap .company_gnb .gnb_links.on {
  opacity: 1;
  visibility: visible;
}

.gnb_wrap .gnb {
  position: relative;
  left: 50%; top: 50%;
  transform: translate(-50%, -50%);
  display: inline-block;
}
.gnb_wrap .gnb > li {
  float: left;
  margin-left: 50px;
}
.gnb_wrap .gnb > li:first-child {
  margin-left: 0;
}
.gnb_wrap .gnb > li > a {
  font-size: 16px;
  color: #fff;
}
.gnb_wrap .gnb > li > a.not_on {
  opacity: .8;
}
.gnb_wrap .btn_sch {
  position: absolute;
  right: 195px; top: 50%;
  transform: translateY(-50%);
  width: 21px; height: 21px;
  background: url('../images/mall/ico-sch.png') no-repeat center;
}

.sub_gnb {
  display: none;
  position: absolute;
  left: 0; top: 127px;
  width: 100%;
  box-sizing: border-box;
  z-index: 20;
}
.sub_gnb .sub_gnb_item {
  overflow: hidden;
  position: relative;
  padding: 40px 195px 40px 445px;
  box-sizing: border-box;
  border-top: 1px solid rgba(255, 255, 255, 0.6);
  background-color: rgba(3, 162, 234, 0.9);
}
.sub_gnb .sub_gnb_item > strong {
  position: absolute;
  left: 195px; top: 40px;
  font-size: 22px;
  color: #fff;
}
.sub_gnb .sub_gnb_item .link_list {
  float: left;
}
.sub_gnb .sub_gnb_item .link_list > li {
  margin-top: 10px;
}
.sub_gnb .sub_gnb_item .link_list > li:first-child {
  margin-top: 0;
}
.sub_gnb .sub_gnb_item .link_list > li > a {
  font-size: 16px;
  color: #fff;
}
.sub_gnb .sub_gnb_item .img_list {
  overflow: hidden;
  float: right;
  margin-left: 130px;
}
.sub_gnb .sub_gnb_item .img_list > li {
  float: left;
  margin-left: 20px;
}
.sub_gnb .sub_gnb_item .img_list > li:first-child {
  margin-left: 0;
}
.sub_gnb .location_item {

}
.sub_gnb .location_item img {
  width: 100%;
}













.visual-slide {height:600px;position: relative;}
.visual-slide .text {display:block;text-align: left;position:absolute;top:134px;left:50%;transform:translateX(-50%);padding-left:130px;width:1530px;}
.visual-slide .title {font-size:40px;color:#fff;letter-spacing: -0.4px; display: block;line-height:48px;}
.visual-slide p{font-size:16px;color:#fff;letter-spacing: -0.3px; color:#fff;margin-top:27px;margin-bottom:78px;line-height:24px;}
.visual-slide .btn-more {font-size:12px;letter-spacing: -0.3px;color:#fff;border-bottom:2px solid #fff;padding-bottom:4px;font-weight:700;}

.visual-slide .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;
      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
    }

.visual-slide .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    display: inline-block;
    border:1px solid #fff;
    background: #fff;
    opacity: .4;
}

.visual-slide .swiper-pagination-bullet-active {
    opacity: 1;
    background: #fff;
    width:38px;
    border-radius:25px;
}

.visual-slide .swiper-slide .text {transition:all 0.5s;top:50px;opacity: 0;}
.visual-slide .swiper-slide-active .text {transition:all 0.5s;top:134px;opacity: 1}




.bestPro-slide {position: relative;margin-top:140px;}
.swiper-slide {
      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
      width:750px;
    }


.bestPro-slide .title {font-size:36px; display: block;line-height:48px;}
.bestPro-slide .title-sub {font-size:12px;display: block;line-height:48px;}
.bestPro-slide p{font-size:16px;margin-top:37px;line-height:24px;color:#545454;}
.bestPro-slide .img {margin-left:180px;overflow: hidden;}

.bestPro-slide .swiper-slide img {
  transition:all 0.5s;
}
.bestPro-slide .swiper-slide:hover img {
  transform: scale(1.2);
  transition:all 0.5s;
}
.bestPro-slide .text {height:418px;display:block;text-align: left;position:absolute;top:0;left:0;padding-top:60px;z-index: 999;transition:all 0.5s;}
.bestPro-slide .swiper-slide:hover .text {
  transition:all 0.5s;
  position:absolute;top:-40px;left:0;
}

.bestPro-slide .btn-more {font-size:12px;border-bottom:2px solid #000;padding-bottom:4px;position: absolute;bottom:30px;left:0;font-weight:700;}

.bestPro-slide .swiper-button-next {
    background-image: url(../images/main/next.png);
    right: 20px;
    left: auto;
    width:84px;
    height:84px;
    background-size:84px;
}
.bestPro-slide .swiper-button-prev {
  background-image: url(../images/main/prev.png);
  left: 20px;
  right: auto;
  width:84px;
  height:84px;
  background-size:84px;
}

.banner-area ul {display: table;}
.banner-area li {display: table-cell;background-image: url(../images/main/bn-bg.png);background-position: 0 0;background-repeat: 0;position: relative;}
.banner-area li.item.list2 {background-position: 0 240px;text-align: right;}

.banner-area .text {transition:all 0.5s;position: absolute;top:74px;z-index: 99;}
.banner-area li.item.list1 .text {left:80px;}
.banner-area li.item.list2 .text {right:80px;}
.banner-area li:hover .text { transition:all 0.8s; top:54px; }
.banner-area .text .title {font-size:24px;font-weight: 700;color:#fff;}
.banner-area .text .cont {font-size:16px;color:#fff;padding-top:20px;line-height: 24px;}
.banner-area a {display: block;overflow: hidden;width:765px;height:240px;position: relative;}

.banner-area a .color_bg{ width: 0%; top:0;right:-300px;transition:all 0.5s;z-index: 1;}
.banner-area a:hover .color_bg {
    position: absolute;
    top: 0;
    display: block;
    width:765px;height:240px;
    background-color: rgb(0, 0, 0,0.2);
    transition:all 0.5s;
}


.banner-area li.item.list1 a .color_bg { right:-300px; }
.banner-area li.item.list2 a .color_bg { left:-300px; }

.banner-area li.item.list1 a:hover .color_bg { right:0; }
.banner-area li.item.list2 a:hover .color_bg { left:0; }






.insta-slide {position: relative;margin-top:140px;}
.insta-slide h2 {}
.insta-slide .goto-insta {font-size: 16px;position: absolute;right:0;}
.insta-slide .goto-insta::before {content: "";clear: both;display: inline-block;margin-right:16px;width:24px;height:24px;background: url(../images/main/ic_insta.png) no-repeat center;vertical-align: middle;}
.insta-slide .swiper-slide {margin-top:36px;overflow: hidden;}

.insta-slide .swiper-slide .imgbox span.color_bg {
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 500px;
    height: 500px;
    /* background-color:#fff; */
    background-color: rgb(256, 256, 256,0.6);
    transition:all 0.5s;
    transform: skew(-45deg, 15deg);
    cursor: pointer;
}
.insta-slide .swiper-slide .imgbox.animated .color_bg { width: 0%; top:-300px;transition:all 0.5s;}



.insta-slide .swiper-slide[data-swiper-slide-index="1"] .imgbox.animated .color_bg{transition-delay: 0.1; }
.insta-slide .swiper-slide[data-swiper-slide-index="2"] .imgbox.animated .color_bg{transition-delay: 0.2s; }
.insta-slide .swiper-slide[data-swiper-slide-index="3"] .imgbox.animated .color_bg{transition-delay: 0.3s; }
.insta-slide .swiper-slide[data-swiper-slide-index="4"] .imgbox.animated .color_bg{transition-delay: 0.4s; }
.insta-slide .swiper-slide[data-swiper-slide-index="5"] .imgbox.animated .color_bg{transition-delay: 0.5s; }
.insta-slide .swiper-slide[data-swiper-slide-index="6"] .imgbox.animated .color_bg{transition-delay: 0.6s; }
.insta-slide .swiper-slide[data-swiper-slide-index="7"] .imgbox.animated .color_bg{transition-delay: 0.7s; }
.insta-slide .swiper-slide[data-swiper-slide-index="8"] .imgbox.animated .color_bg{transition-delay: 0.8s; }
.insta-slide .swiper-slide[data-swiper-slide-index="9"] .imgbox.animated .color_bg{transition-delay: 0.9s; }
.insta-slide .swiper-slide[data-swiper-slide-index="10"] .imgbox.animated .color_bg{transition-delay: 1s; }


.insta-slide .swiper-slide .imgbox:hover .color_bg {width:500px;top:170px;transition:all 0.5s;}




.sevice-area {position: relative;height:550px;margin-top:140px;}
.sevice-area strong {font-size:36px;margin-top:32px;display:block;}


.sevice-area .gallery-thumbs {width:390px;height:60px; box-sizing: border-box; position: absolute; z-index: 99;border-bottom:3px solid #000;padding-bottom:4px; margin-top:20px;overflow: inherit;}
.sevice-area .gallery-thumbs .swiper-slide { opacity: 0; width:336px; font-size:36px;font-weight: 700;display: initial;}

.sevice-area .gallery-thumbs::before {content:"";clear: both;width:24px;height:24px;background: url(../images/main/arr.png) no-repeat 0 0;position: absolute;right:0;top:15px;}

.sevice-area .gallery-thumbs .swiper-wrapper {}
.sevice-area .gallery-thumbs .swiper-slide-active { opacity: 1; }
.sevice-area .gallery-top .swiper-slide { opacity: 0.4;}
.sevice-area .gallery-top .swiper-slide-active { opacity: 1; }
.sevice-area .gallery-top { position: relative; height: 550px; left: 390px; overflow: inherit;}


.sevice-area .gallery-top .text {width:336px;overflow: hidden;position:absolute;left:-290px;top: 150px;color:#545454;font-size:16px;line-height: 24px;opacity: 0;transition:all 0.5s;}


.sevice-area .gallery-top .swiper-slide-active .text  { opacity: 1;left:-390px;transition:all 0.5s;transition-delay: 0.5s;}

.sevice-area  .pg_nav {position:absolute;bottom:-315px;display: block;font-size:18px;width:120px;height:10px;}


.sevice-area .gallery-text {position:absolute;bottom:0;display: block;width:336px;}
.sevice-area .gallery-top .swiper-slide.swiper-slide-prev {opacity: 0;}




.gallery-thumbs .swiper-button-next {
    background-image: url(../images/main/next-small.png);
    right: 0;
    left: auto;
    width:21px;
    height:18px;
    background-size:21px;
}
.gallery-thumbs .swiper-button-prev {
  background-image: url(../images/main/prev-small.png);
  left: 0;
  right: auto;
  width:21px;
    height:18px;
  background-size:21px;
}

  #mo {display:none;}
  #pc {display:block; overflow: hidden;}


@media screen and (max-width: 768px) {
  #mo {display:block;}
  #pc {display:none;}
}


